@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Lato", "sans-serif";
}

body {
    background-color: darkgray;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px;
    background-color: ivory;
}

.logo a{
    text-decoration: none;
    list-style: none;
    color: black;
}

.logo a:hover {
    text-decoration: none;
}

.nav-link {
    display: flex;
    gap: 30px;
    list-style: none;
    font-size: 2rem;
}

.nav-link a:link {
    text-decoration: none;
    color: black;
}

.nav-link a:hover {
   background-color: rgb(161, 88, 100);
   border-radius: 10px;
   padding: 1px;
}

.nav-link a:visited {
    color: black;
}

.intro h2 {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 2.1rem;
}

.intro-text {
    display: flex;
    margin-right: 20px;
    align-items: center;
}

.intro-text img {
    width: 600px;
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 40px;
    padding: 20px;
}

.intro-text p {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    flex-wrap: wrap;
}

.home-summary {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    background-color: rgb(110, 57, 66);
    padding: 30px;
}

.home-summary li {
    color:rgb(206, 196, 196);
}

.call-to-action {
    display: flex;
    justify-content: center;
    margin: 30px;
    font-size: 2rem;
}

.call-to-action a {
    text-decoration: none;
    color: black;
}

.call-to-action a:hover {
    text-decoration: underline;
}

footer {
    display: flex;
    justify-content: space-between;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    margin-top: 40px;
    background-color: ivory;
}
footer a {
    color: black;
    text-decoration: none; 
}

.policy-links {
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 20px;
}
.social-media-links {
    color: black;
    gap: 20px;
    margin: 20px;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

a:hover {
    text-decoration: underline;
}

/* About Us page */
.about-us-main {
    margin: 20px 200px;
    padding: 40px;
    background-color: aliceblue;
    border-radius: 20px;
    box-shadow: 5px 5px #d1cdcd88;
    height: 700px;
}

.about-us-main div {
    margin-top: 50px;
    margin-bottom: 50px;
}
.about-us-main h3 {
    display: flex;
    margin: 20px 50px;
    font-size: 2rem;
}

.about-us-main p {
    font-size: 1.25rem;
}

.personalized img {
    width: 250px;
    float: right;
}

.partnership-photos {
    display: flex;
    justify-content: space-around;
}
.partnership-photos img{
    width: 150px;
    height: 150px;
    object-fit: cover;
}

/* Events page */
.events-main {
    display: flex;
    justify-content: center;
}

.event-table {
    margin-top: 20px;
    background-color:aliceblue;
    border-radius: 20px;
    box-shadow: 5px 5px #d1cdcd88;
}
.event-table tr{
    width: 70%;
    height: 150px;
    font-size: 1.5rem;
    
}

.event-table td {
    padding: 20px;
}

/* Contact page */

.contact-form {
    margin-top: 20px;
    margin-bottom: 40px;
}
.contact-form h3 {
    display: flex;
    justify-content: center;
}
.contact_form {
    width: 230px;
    height: auto;
    border: 2px solid black;
    border-radius: 5px;
    margin: auto;
    padding: 10px;
    background-color: aliceblue;
}

.contact_form input {
    max-width: 190px;
    padding: 3px;
    margin: 5px 10px;
    box-sizing: border-box;
}

.main-contact {
    display: flex;
    justify-content: flex-start;
    font-size: 1.25rem;
    margin: 0px 400px;
}

.main-contact li {
    text-decoration: none;
    list-style: none;
}

.main-contact li span {
    font-weight: bold;
}

/* Mobile screen */
@media screen and (max-width: 480px) {

    .menu-toggle {
        font-size: 20px;
        cursor: pointer;
        display: block;
    }
 /* Show the menu when class active is there */
    .nav-link.active {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 20px;
    }

    .nav-link.active a {
        color:rgb(206, 196, 196)
    }

/* Hides the menu */
    .nav-link {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        background: rgb(110, 57, 66);
        left: 0;
        right: 0;
        padding: 20px 0px;
    }
        
    .navbar {
        padding: 10px;
        justify-content: left;
    }
    .logo {
        padding-left: 20px;
    }
        
    ul {
        font-size: 1rem;
        display: flex;
        list-style: none;
    }

    .intro h2 {
        font-size: 1.5rem;
    }

    .intro-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        padding: 0;
        gap: 20px;
    }

    .intro-text img{
        padding: 0;
        margin: 0;
        width: 300px;
    }
    
    .home-summary ul {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 15px;
        font-size: 18px;
    }

    .call-to-action {
        justify-content: center;
        text-align: center;
        margin: 20px 20px 20px 20px;
    }

    footer {
        margin: 0;
    }

    .social-media-links {
        display: none;
    }

/* About Us mobile page */
    .about-us-main {
        padding: 0;
        margin: 0;
        height: 650px;
        border-radius: 0;
    }
    .about-us-main p {
        font-size: 16px;
    }

    .about-us-main h3 {
        font-size: 25px;
        margin: 20px 0 0 0;
    }

    .personalized-container {
        margin: 0 !important;
        padding: 0 !important;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .personalized img {
        float:none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }

    .partnership-photos img {
        width: 100px;
        height: 100px;
    }
        }

/* Tablet screen */
@media screen and (max-width: 600px) {

}
