@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Lato", "sans-serif";
}

body {
    background-color: darkgray;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px;
    background-color: ivory;
}

.nav-link {
    display: flex;
    gap: 30px;
    list-style: none;
    font-size: 2rem;
}

.nav-link a:link {
    text-decoration: none;
    color: black;
}

.nav-link a:visited {
    color: black;
}

.intro h2 {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 2.1rem;
}

.intro-text {
    display: flex;
    margin-right: 20px;
    align-items: center;
}

.intro-text img {
    max-width: 30%;
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 40px;
    padding: 20px;
}

.intro-text p {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    flex-wrap: wrap;
}

.home-summary {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;

}

.call-to-action {
    display: flex;
    justify-content: center;
    margin: 70px;
    font-size: 2rem;
}

footer {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
footer a {
    color: black;
    text-decoration: none; 
}

.policy-links {
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 20px;
}
.social-media-links {
    color: black;
    gap: 20px;
    margin: 20px;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

a:hover {
    text-decoration: underline;
}

/* About Us page */
.about-us-main {
    margin: 20px 200px;
    padding: 40px;
    background-color: aliceblue;
    border-radius: 20px;
    box-shadow: 5px 5px #d1cdcd88;
}

.about-us-main div {
    margin-top: 50px;
    margin-bottom: 50px;
}
.about-us-main h3 {
    display: flex;
    margin: 20px 50px;
    font-size: 2rem;
}

.about-us-main p {
    display: flex;
    font-size: 1.25rem;
}
/* Events page */
.events-main {
    display: flex;
    justify-content: center;
}

.event-table {
    margin-top: 20px;
    background-color:aliceblue;
    border-radius: 20px;
    box-shadow: 5px 5px #d1cdcd88;
}
.event-table tr{
    width: 70%;
    height: 150px;
    font-size: 1.5rem;
    
}

.event-table td {
    padding: 20px;
}